* {
    font-family: "Gill Sans", sans-serif;
    align-items: center;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

h1 {
    background-color: #850e35;
    color: #fff5e4;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 40px;
}

.board-container table {
    align-items: center;
    margin: auto;
    cursor: pointer;
    margin-bottom: 20px;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    color: #850e35;
    background-color: #ff6f92;
}

.cell:hover {
    background-color: #ff8fab;
}

.shown-cell {
    background-color: #ffc2d1;
}

.shown-cell:hover {
    background-color: #ffc2d1;
    cursor: default;
}

.start-btn-container {
    width: max-content;
    margin: auto;
}

.start-btn {
    padding: 10px;
    text-align: center;
    width: 60px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 600;
    color: #696d7d;
    background-color: #f4acb7;
    display: inline;
    /* margin-left: 200px; */
    margin-top: 20px;
    border: 2px solid #d8e2dc;
    cursor: pointer;
}

.start-btn:hover {
    color: #ffe5d9;
    border: 2px solid #d8e2dc;
}

.status-container,
.level-container,
.best-scores {
    background-color: #fa8ea9;
    height: 40px;
    width: 500px;
    margin: auto;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.timer {
    outline: 0.5px solid #850e35;
    padding: 5px;
}

.mines {
    outline: 0.5px solid #850e35;
    padding: 5px;
}

.levels {
    background-color: #f4acb700;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 10px;
}

select {
    background-color: hsla(340, 82%, 35%, 0.856);
    padding: 5px;
}

.hints:hover {
    cursor: pointer;
}

.hint-clicked {
    opacity: 0.5;
}

.best-scores {
    margin-top: 20px;
}

.safe-click {
    background-color: #d8e2dc;
}

.safe-cell {
    background-color: peachpuff;
}